body {
  background-color: orange;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
}
.container {
  margin: 0 250px;
  background-color: bisque;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 50px;
}
button {
  margin: 20px 0px;

  font-size: 25px;
  border-radius: 50px;
  background-color: orange;
  border: none;
  box-shadow: 0px 2px 2px limegreen;

  /* horizontal shadow /vetical shadow /blur /color*/
}
button:hover {
  transition: 0.5s;
  transform: scaleX(1.5);
  background-color: burlywood;
  box-shadow: 0px 2px 3px orange;
}
h2 {
  font-size: 30px;
  margin-top: 5px;
}
#response {
  background-color: tomato;
  font-size: 40px;
  margin: 0px 20px;
  color: yellow;
}
#attempt {
  color: red;
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
input {
  width: 250px;
  border-radius: 25px;
  padding: 5px 0px;
  text-align: center;
  font-size: 20px;
}
#previousGuesses {
  font-size: 30px;
  color: green;
  font-weight: bolder;
}
